server {
    server_name webserv;
    listen 0.0.0.0:4245;

    root ./www/html;
    index index.html test.html;
    
    allow_methods GET POST DELETE;
    
    autoindex on;
    client_body_limit 10000000;
    
    recv_timeout 30;
    send_timeout 30;
    
    error_page 404 /404.html;

    location /upload {
        allow_methods GET POST DELETE;
        root ./www/html/upload;
    }

    location /cgi-bin {
        allow_methods GET POST;
        root ./www/html/cgi-bin;
        cgi_info py /usr/bin/python3;
        cgi_info sh /bin/bash;
    }

    location /css {
        allow_methods GET;
        root ./www/html/css;
    }

    location /js {
        allow_methods GET;
        root ./www/html/js;
    }

    location /images {
        allow_methods GET;
        root ./www/html/images;
    }
}

server {
    server_name redirect-test;
    listen 0.0.0.0:8080;
    
    return 301 http://localhost:4245/;
}

server {
    server_name no-autoindex;
    listen 0.0.0.0:8081;

    root ./www/html;
    index index.html;
    
    allow_methods GET POST DELETE;
    
    autoindex off;
    client_body_limit 1024;
    
    recv_timeout 10;
    send_timeout 10;
}

server {
    server_name readonly;
    listen 0.0.0.0:4245;

    root ./www/html;
    index index.html;
    
    allow_methods GET;
    
    autoindex on;
    client_body_limit 1024;
}

server {
    listen 0.0.0.0:8000;
    return 301 https://www.haxball.com/play;
}